html {
    box-sizing: border-box;
  }
  
  body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: overlay;
  }
  
  ::-webkit-scrollbar {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3232322f;
  }
  
  .limited-area {
    margin: 0 auto;
    max-width: 980px;
    width: 96%;
  }
  
  main {
    margin: 0 auto;
    max-width: 2500px;
  }
  
  .header {
    background-color: #161617CC;
    backdrop-filter: blur(10px);
    transition: 1.6s;
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
  }
  
  .menu {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    height: 44px;
  }
  
  .btn-menu {
    width: 30px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    margin: 0;
  }
  
  .btn-menu span {
    display: block;
    width: 15px;
    height: 1px;
    margin: 6px 0;
    background-color: white;
    transition: 0.5s;
  }
  
  .pesquisa-menu {
    display: none;
  }
  
  .links-menu {
    height: 44px;
  }
  
  .ul-pesquisa li,
  .ul-pesquisa img {
    height: 100%;
  }
  
  .span-bt {
    display: block;
    width: 15px;
    height: 1px;
    margin: 6px 0;
    background-color: white;
    transition: 0.5s;
  }
  
  .btn-menu {
    display: none;
  }
  
  .container-sacola {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1240px;
    width: 100vw;
  }
  
  .sacola {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 4px;
    padding-bottom: 10px;
    z-index: 11;
  }
  
  .sacola-active {
    display: flex;
  }
  
  .seta-sacola {
    position: absolute;
    max-width: 100%;
    width: 286px;
    height: 10px;
    left: 3px;
    bottom: -9px;
    display: block;
    z-index: 10;
  }

  
  .seta-active span {
    display: block;
  }
  
  .svg-sacola {
    position: relative;
  }
  
  .svg-sacola:hover {
    cursor: pointer;
  }

  
  .content-sacola p {
    text-align: center;
    padding-top: 20px;
    margin-top: 0;
    padding-top: 33px;
    padding-bottom: 20px;
    font-size: 14px;
    color: rgb(126, 126, 126);
  }
  
  .links-sacola {
    width: 100%;
  }
  
  .links-sacola ul {
    list-style: none;
    margin: 0;
    padding: 0 8%;
    padding-bottom: 10px;
  }
  

  
  .links-sacola li:nth-child(1) {
    background-image: url(https://www.apple.com/ac/globalnav/7/pt_BR/assets/ac-store/bag.svg);
    background-repeat: no-repeat;
    background-size: 20px 45px;
  }
  
  .links-sacola li:nth-child(2) {
    background-image: url(https://www.apple.com/ac/globalnav/7/pt_BR/assets/ac-store/savedbyyou.svg);
    background-repeat: no-repeat;
    background-size: 20px 45px;
  }
  
  .links-sacola li:nth-child(3) {
    background-image: url(https://www.apple.com/ac/globalnav/7/pt_BR/assets/ac-store/orders.svg);
    background-repeat: no-repeat;
    background-size: 20px 45px;
  }
  
  .links-sacola li:nth-child(4) {
    background-image: url(https://www.apple.com/ac/globalnav/7/pt_BR/assets/ac-store/account.svg);
    background-repeat: no-repeat;
    background-size: 20px 45px;
  }
  
  .links-sacola li:nth-child(5) {
    background-image: url(https://www.apple.com/ac/globalnav/7/pt_BR/assets/ac-store/signIn.svg);
    background-repeat: no-repeat;
    background-size: 20px 45px;
  }
  
  .remove-sacola {
    display: none;
  }
  
  .contain-header {
    text-align: center;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    height: 45px;
  }
  
  .ul-pesquisa {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
  }
  
  .link-topo {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .links-menu a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    line-height: 3.8em;
    font-size: 12px;
    transition: 0.5s;
    padding: 0 1px;
  }
  
  .links-menu a:hover {
    color: white;
    transition: 0.5s;
  }
  
  .svg-pesquisa {
    height: 100%;
    width: 17px;
    object-fit: cover;
    object-position: 0px -3px;
    overflow-y: hidden;
  }
  
